<div class="container">
  <div class="float-xs-right mt-2 mb-2">
    <div class="dropdown open">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
    Chọn module...
  </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Hệ thống</a>
        <a class="dropdown-item" [routerLink]="['nguoi-dung']">Người dùng</a>
        <a class="dropdown-item" href="#">Tài nguyên</a>
      </div>
    </div>
  </div>
</div>