<div class="row">
  <table class="table table-inverse table-hover">
    <thead>
      <tr>
        <th>Khu vực</th>
        <th>Mã TB</th>
        <th>Nội dung sửa chữa</th>
        <th>Bắt đầu</th>
        <th>DK bàn giao</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>D04</td>
        <td class="text-success">NB190</td>
        <td>Sửa chữa cụm cabin</td>
        <td>25 ngày trước</td>
        <td class="text-success">18 ngày trước</td>
      </tr>
      <tr>
        <td>D01</td>
        <td class="text-warning">NB189</td>
        <td>Sửa chữa cụm cabin</td>
        <td>25 ngày trước</td>
        <td class="text-warning">18 ngày trước</td>
      </tr>
      <tr>
        <td>D02</td>
        <td class="text-warning">NB153</td>
        <td>Kiểm tra sửa chữa cụm cabin</td>
        <td>một tháng trước</td>
        <td class="text-warning">một tháng trước</td>
      </tr>
      <tr>
        <td>D02</td>
        <td class="text-danger">NB153</td>
        <td>Kiểm tra sửa chữa cụm cabin</td>
        <td>một tháng trước</td>
        <td class="text-danger">một tháng trước</td>
      </tr>
      <tr>
        <td>D02</td>
        <td class="text-danger">NB153</td>
        <td>Kiểm tra sửa chữa cụm cabin</td>
        <td>một tháng trước</td>
        <td class="text-danger">một tháng trước</td>
      </tr>
      <tr>
        <td colspan="5" class="text-xs-right"><small class="text-muted">© Phòng Kỹ Thuật Vật Tư, Tổng Công Ty Tân Cảng Sài Gòn</small></td>      
      </tr>
    </tbody>
  </table>
</div>