<div class="row mt-2" *ngIf="suachuasDone.length">
  <div class="container">
    <div class="list-group mt-2">
      <a href="" class="list-group-item list-group-item-action" *ngFor="let suachua of suachuasDone | suaChua: navbarSearchString" [routerLink]="['/nhap-lieu', suachua.$key]">
        <h5 class="list-group-item-heading" 
            [ngClass]="{
              'text-suachuas-danger': suachua.trang_thai===trangThaiSuaChua.DangThucHien,
              'text-suachuas-warning': suachua.trang_thai===trangThaiSuaChua.ChuanBiBanGiao,
              'text-suachuas-success': suachua.trang_thai===trangThaiSuaChua.HoanThanh
              }">
            {{suachua.ma_thiet_bi}}
        </h5>
        <p class="list-group-item-text">{{suachua.noi_dung}}</p>
        <p class="list-group-item-text text-muted">{{suachua.khu_vuc}}: {{suachua.vi_tri}}</p>
        <small class="form-text text-muted">{{suachua.thoi_gian_bat_dau}} • Đã xong vào {{suachua.thoi_gian_ket_thuc | moment:dateTimeDisplayFormat:'fromNow'}} • {{suachua.thoi_gian_sua_chua | duration}}</small>
      </a>
    </div>
  </div>
</div>

<div class="row mt-2" *ngIf="suachuasCurrent.length">
  <div class="container">
    <div class="list-group mt-2">
      <a href="" class="list-group-item list-group-item-action" *ngFor="let suachua of suachuasCurrent | suaChua: navbarSearchString" [routerLink]="['/nhap-lieu', suachua.$key]">
        <h5 class="list-group-item-heading" 
            [ngClass]="{
              'text-suachuas-danger': suachua.trang_thai===trangThaiSuaChua.DangThucHien,
              'text-suachuas-warning': suachua.trang_thai===trangThaiSuaChua.ChuanBiBanGiao,
              'text-suachuas-success': suachua.trang_thai===trangThaiSuaChua.HoanThanh
              }">
            {{suachua.ma_thiet_bi}}
        </h5>
        <p class="list-group-item-text">{{suachua.noi_dung}}</p>
        <p class="list-group-item-text text-muted">{{suachua.khu_vuc}}: {{suachua.vi_tri}}</p>
        <small class="form-text text-muted">{{suachua.loai_sua_chua}} • {{suachua.thoi_gian_bat_dau | moment:dateTimeDisplayFormat:'fromNow'}} • DK xong vào {{suachua.thoi_gian_ket_thuc_dk | moment:dateTimeDisplayFormat:'fromNow'}}</small>
      </a>
    </div>
  </div>
</div>

