<h3>Tạo mới sửa chữa</h3>
<form class="mt-2 mb-2" [formGroup]="suaChuaNewForm" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="form-group" [ngClass]="{'has-danger': suaChuaNewForm.controls.loai_sua_chua.invalid && (suaChuaNewForm.controls.loai_sua_chua.dirty || suaChuaNewForm.controls.loai_sua_chua.touched)}">
        <label class="form-control-label" for="loaiSuaChuaSelect">Loại sửa chữa</label>
        <select class="form-control" id="loaiSuaChuaSelect" formControlName="loai_sua_chua">
          <option *ngFor="let loaiSuaChua of dataHelper.data.loaiSuaChuas" [value]="loaiSuaChua">{{loaiSuaChua}}</option>
        </select>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="form-group" [ngClass]="{'has-danger': suaChuaNewForm.controls.loai_thiet_bi.invalid && (suaChuaNewForm.controls.loai_thiet_bi.dirty || suaChuaNewForm.controls.loai_thiet_bi.touched)}">
        <label class="form-control-label" for="loaiThietBiSelect">Loại phương tiện</label>
        <select class="form-control" id="loaiThietBiSelect" formControlName="loai_thiet_bi">
          <option *ngFor="let loaiThietBi of dataHelper.data.loaiThietBis" [value]="loaiThietBi">{{loaiThietBi}}</option>
        </select>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="form-group" [ngClass]="{'has-danger': suaChuaNewForm.controls.ma_thiet_bi.invalid && (suaChuaNewForm.controls.ma_thiet_bi.dirty || suaChuaNewForm.controls.ma_thiet_bi.touched)}">
        <label class="form-control-label" for="maThietBiSelect">Mã phương tiện</label>
        <select class="form-control" id="maThietBiSelect" formControlName="ma_thiet_bi">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="form-group" [ngClass]="{'has-danger': suaChuaNewForm.controls.khu_vuc.invalid && (suaChuaNewForm.controls.khu_vuc.dirty || suaChuaNewForm.controls.khu_vuc.touched)}">
        <label class="form-control-label" for="khuVucSelect">Khu vực</label>
        <select class="form-control" id="khuVucSelect" formControlName="khu_vuc">
          <option *ngFor="let khuVuc of dataHelper.data.khuVucs" [value]="khuVuc">{{khuVuc}}</option>
        </select>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group" *ngIf="dataHelper.data.viTris.hasOwnProperty(suaChuaNewForm.controls.khu_vuc.value)" [ngClass]="{'has-danger': suaChuaNewForm.controls.vi_tri.invalid && (suaChuaNewForm.controls.vi_tri.dirty || suaChuaNewForm.controls.vi_tri.touched)}">
        <label class="form-control-label" for="viTriSelect">Vị trí</label>
        <select class="form-control" id="viTriSelect" formControlName="vi_tri">
          <option *ngFor="let object of dataHelper.data.viTris[suaChuaNewForm.controls.khu_vuc.value]" [value]="object.viTri">{{object.viTri}}</option>
        </select>
      </div>
    </div>
  </div>

  <hr/>

  <div class="row">
    <div class="col-sm-6">
      <div class="form-group" [ngClass]="{'has-danger': suaChuaNewForm.controls.ma_wo.invalid && (suaChuaNewForm.controls.ma_wo.dirty || suaChuaNewForm.controls.ma_wo.touched)}">
        <label class="form-control-label" for="soWOInput">Số WO (Maximo)</label>
        <input type="text" class="form-control" id="soWOInput" placeholder="Nhập số Work Order" formControlName="ma_wo">
      </div>
    </div>
    <div class="col-sm-6 hidden-xs-down">
      <div class="form-group">
        <label></label>
        <small class="form-text text-muted">Số WO cho phép liên kết và đối chiếu dữ liệu với chương trình quản lý Maximo</small>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="form-group" [ngClass]="{'has-danger': suaChuaNewForm.controls.noi_dung.invalid && (suaChuaNewForm.controls.noi_dung.dirty || suaChuaNewForm.controls.noi_dung.touched)}">
        <label class="form-control-label" for="noiDungSuaChuaInput">Nội dung sửa chữa</label>
        <input type="text" class="form-control" id="noiDungSuaChuaInput" placeholder="Nhập nội dung" formControlName="noi_dung">
        <div class="form-control-feedback" *ngIf="suaChuaNewForm.controls.noi_dung.invalid && (suaChuaNewForm.controls.noi_dung.dirty || suaChuaNewForm.controls.noi_dung.touched)">
          <small class="form-text" *ngIf="suaChuaNewForm.controls.noi_dung.errors.required">Chưa có thông tin về nội dung sửa chữa</small>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="form-group" [ngClass]="{'has-danger': suaChuaNewForm.controls.thoi_gian_bat_dau.invalid && (suaChuaNewForm.controls.thoi_gian_bat_dau.dirty || suaChuaNewForm.controls.thoi_gian_bat_dau.touched)}">
        <label class="form-control-label" for="thoiGianBatDauInput">Thời gian bắt đầu</label>
        <input class="form-control" type="text" id="thoiGianBatDauInput" formControlName="thoi_gian_bat_dau">
        <div class="form-control-feedback" *ngIf="suaChuaNewForm.controls.thoi_gian_bat_dau.invalid && (suaChuaNewForm.controls.thoi_gian_bat_dau.dirty || suaChuaNewForm.controls.thoi_gian_bat_dau.touched)">
          <small class="form-text" *ngIf="suaChuaNewForm.controls.thoi_gian_bat_dau.errors.required">Chưa có thông tin về thời gian bắt đầu</small>
          <small class="form-text" *ngIf="suaChuaNewForm.controls.thoi_gian_bat_dau.errors.pattern">Định dạng thời gian không hợp lệ</small>
          <small class="form-text" *ngIf="suaChuaNewForm.controls.thoi_gian_bat_dau.errors.dateTimeInvalid">Thông tin về thời gian không chính xác</small>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group" [ngClass]="{'has-danger': suaChuaNewForm.controls.thoi_gian_ket_thuc_dk.invalid && (suaChuaNewForm.controls.thoi_gian_ket_thuc_dk.dirty || suaChuaNewForm.controls.thoi_gian_ket_thuc_dk.touched)}">
        <label class="form-control-label" for="ThoiGianKetThucDKInput">Thời gian kết thúc DK</label>
        <input class="form-control" type="text" id="ThoiGianKetThucDKInput" formControlName="thoi_gian_ket_thuc_dk">
        <small class="form-text" *ngIf="suaChuaNewForm.controls.thoi_gian_ket_thuc_dk.valid">Dự kiến sửa chữa: {{calcThoiGianDK}}</small>
        <div class="form-control-feedback" *ngIf="suaChuaNewForm.controls.thoi_gian_ket_thuc_dk.invalid && (suaChuaNewForm.controls.thoi_gian_ket_thuc_dk.dirty || suaChuaNewForm.controls.thoi_gian_ket_thuc_dk.touched)">
          <small class="form-text" *ngIf="suaChuaNewForm.controls.thoi_gian_ket_thuc_dk.errors.required">Chưa có thông tin về thời gian bắt đầu</small>
          <small class="form-text" *ngIf="suaChuaNewForm.controls.thoi_gian_ket_thuc_dk.errors.pattern">Định dạng thời gian không hợp lệ</small>
          <small class="form-text" *ngIf="suaChuaNewForm.controls.thoi_gian_ket_thuc_dk.errors.dateTimeRangeInvalid">Thông tin về thời gian không chính xác</small>
        </div>
      </div>
    </div>
  </div>

  <button type="submit" class="btn btn-outline-primary mt-2" [disabled]="suaChuaNewForm.invalid || submitting">Tạo mới</button>
  <a class="btn btn-outline-danger mt-2" href="" [routerLink]="['/nhap-lieu']">Hủy bỏ</a>
</form>