<h3>Cập nhật sửa chữa</h3>
<hr/>
<div class="row mt-2">
  <div class="col-xs-12" *ngIf="cloneSuaChua">
    <button type="button" class="btn" (click)="setFormDisplay('Đang thực hiện')" [ngClass]="{'btn-outline-info': cloneSuaChua.trang_thai !== 'Đang thực hiện', 'btn-info': cloneSuaChua.trang_thai === 'Đang thực hiện'}">
      Đang thực hiện
    </button>
    <button type="button" class="btn" (click)="setFormDisplay('Chuẩn bị BG')" [ngClass]="{'btn-outline-warning': cloneSuaChua.trang_thai !== 'Chuẩn bị BG', 'btn-warning': cloneSuaChua.trang_thai === 'Chuẩn bị BG'}">
      Chuẩn bị BG
    </button>
    <button type="button" class="btn" (click)="setFormDisplay('Hoàn thành')" [ngClass]="{'btn-outline-success': cloneSuaChua.trang_thai !== 'Hoàn thành', 'btn-success': cloneSuaChua.trang_thai === 'Hoàn thành'}">
      Hoàn thành
    </button>
    <button type="button" class="btn btn-outline-danger">Hủy bỏ SC</button>
  </div>
</div>

<sk-nhap-lieu-update-basic-info-form 
  *ngIf="formDisplay==='Đang thực hiện'" 
  [suaChua]="cloneSuaChua" 
  [suaChuaId]="suaChuaId">
</sk-nhap-lieu-update-basic-info-form>

<sk-nhap-lieu-update-chuan-bi-ban-giao-form
  *ngIf="formDisplay==='Chuẩn bị BG'" >
</sk-nhap-lieu-update-chuan-bi-ban-giao-form>