<h3>Cập nhật sửa chữa</h3>
<hr/>
<div class="row">
  <div class="col-xs-12" *ngIf="cloneSuaChua">
    <button type="button" class="btn mt-1" (click)="setFormDisplay(trangThaiSuaChua.DangThucHien)" [ngClass]="{'btn-outline-primary': cloneSuaChua.trang_thai !== trangThaiSuaChua.DangThucHien, 'btn-primary': cloneSuaChua.trang_thai === trangThaiSuaChua.DangThucHien}">
      Đang thực hiện
    </button>
    <button type="button" class="btn mt-1" (click)="setFormDisplay(trangThaiSuaChua.ChuanBiBanGiao)" [ngClass]="{'btn-outline-warning': cloneSuaChua.trang_thai !== trangThaiSuaChua.ChuanBiBanGiao, 'btn-warning': cloneSuaChua.trang_thai === trangThaiSuaChua.ChuanBiBanGiao}">
      Chuẩn bị BG
    </button>
    <button type="button" class="btn mt-1" (click)="setFormDisplay(trangThaiSuaChua.HoanThanh)" [ngClass]="{'btn-outline-success': cloneSuaChua.trang_thai !== trangThaiSuaChua.HoanThanh, 'btn-success': cloneSuaChua.trang_thai === trangThaiSuaChua.HoanThanh}">
      Hoàn Thành
    </button>
    <button type="button" class="btn btn-outline-danger mt-1" (click)="setFormDisplay('Hủy bỏ')">Hủy bỏ SC</button>
  </div>
</div>

<sk-nhap-lieu-update-basic-info-form 
  *ngIf="formDisplay===trangThaiSuaChua.DangThucHien" 
  [suaChua]="cloneSuaChua" 
  [suaChuaId]="suaChuaId">
</sk-nhap-lieu-update-basic-info-form>

<sk-nhap-lieu-update-chuan-bi-ban-giao-form
  *ngIf="formDisplay===trangThaiSuaChua.ChuanBiBanGiao"
  [suaChuaId]="suaChuaId">
</sk-nhap-lieu-update-chuan-bi-ban-giao-form>

<sk-nhap-lieu-update-hoan-thanh-form
  *ngIf="formDisplay===trangThaiSuaChua.HoanThanh" >
</sk-nhap-lieu-update-hoan-thanh-form>

<sk-nhap-lieu-update-huy-bo-form
  *ngIf="formDisplay==='Hủy bỏ'" >
</sk-nhap-lieu-update-huy-bo-form>