<div class="row mt-2"></div>
<div class="mt-2 bd-callout bd-callout-danger">
  <h4>Chuyển đổi trạng thái</h4>
  <p>
    Thông tin về lượt sửa chữa này của phương tiện <code>NB121 (XNCG)</code> sẽ bị hủy bỏ và xóa khỏi hệ thống. Bạn có muốn
    tiếp tục?
  </p>
  <ul>
    <li>Phương tiện: <code>NB121 (XNCG)</code></li>
    <li>Nội dung: <code>Lỏng bơm hơi, chảy nhớt vô lăng</code></li>
    <li>Bắt đầu lúc: <code>12/06/2016 07:35 SA</code></li>
    <li>Tại vị trí: <code>Khu A, A01</code></li>
  </ul>

  <button type="button" class="btn btn-outline-primary" autofocus>Không, trở về</button>
  <button type="button" class="btn btn-outline-danger">OK, xóa mục này!</button>
</div>