<p>
  nhap-lieu-list works!
</p>
<div class="row">
  <div class="container clearfix">
    <h3 class="d-inline-block align-middle">Đang sửa chữa</h3>
    <a href="" class="btn btn-outline-primary float-xs-right" [routerLink]="['/admin/nguoi-dung/tao-moi']">Tất cả</a>
    <small class="d-block text-muted">Hiện có 7 lượt sửa chữa. Sức chứa xưởng đạt 7% (14/72)</small>    
  </div>
</div>

<div class="row">
  <div class="container">
    <div class="list-group mt-2">
      <a href="" class="list-group-item list-group-item-action">
        <h5 class="list-group-item-heading">NB106: XNCG</h5>
        <p class="list-group-item-text">Chảy dầu ống xả nhớt, đang chờ kiểm tra</p>
        <p class="list-group-item-text">Khu A: A1:01</p>
        <small class="form-text text-muted">3 giờ trước • DK xong vào 4 giờ tới</small>
      </a>
    </div>
  </div>
</div>
