<div class="row mt-2">
  <div class="col-xs-12">
    <sk-nav-nhap-lieu (listChanged)="onListChanged($event)"></sk-nav-nhap-lieu>
  </div>
</div>

<div class="row">
  <div class="container clearfix">
    <h3 class="d-inline-block align-middle d-title">{{currentTitle}}</h3>
    <a class="btn btn-outline-secondary float-xs-right" href="" [routerLink]="['/nhap-lieu/tao-moi']">Tạo mới</a>
    <!--<sk-nhap-lieu-list-status></sk-nhap-lieu-list-status>-->
  </div>
</div>
<hr/>

<div class="row mt-2" *ngIf="suachuas.length">
  <sk-nhap-lieu-list-all *ngIf="componentDisplayed === trangThaiSuaChua.TatCa"></sk-nhap-lieu-list-all>
  <sk-nhap-lieu-list-dang-thuc-hien *ngIf="componentDisplayed === trangThaiSuaChua.DangThucHien"></sk-nhap-lieu-list-dang-thuc-hien>
  <sk-nhap-lieu-list-hoan-thanh *ngIf="componentDisplayed === trangThaiSuaChua.HoanThanh"></sk-nhap-lieu-list-hoan-thanh>
</div>



<div class="row mt-2" *ngIf="!suachuas.length">
  <div class="col-xs-12">
    <p>Không có lượt sửa chữa tại thời điểm này.</p>
  </div>
</div>