<div class="row mt-2" *ngIf="suachuasDoneToday.length">
  <div class="container">
    <div class="list-group mt-2">
      <a href="" class="list-group-item list-group-item-action" *ngFor="let suachua of suachuasDoneToday" [routerLink]="['/nhap-lieu', suachua.$key]">
        <h5 class="list-group-item-heading" 
            [ngClass]="{
              'text-primary': suachua.trang_thai===trangThaiSuaChua.DangThucHien,
              'text-warning': suachua.trang_thai===trangThaiSuaChua.ChuanBiBanGiao,
              'text-success': suachua.trang_thai===trangThaiSuaChua.HoanThanh
              }">
            {{suachua.ma_thiet_bi}}: {{suachua.dv_quan_ly}}
        </h5>
        <p class="list-group-item-text">{{suachua.noi_dung}}</p>
        <p class="list-group-item-text text-muted">{{suachua.khu_vuc}}: {{suachua.vi_tri}}</p>
        <small class="form-text text-muted">{{suachua.thoi_gian_bat_dau}} • Đã xong vào {{suachua.thoi_gian_ket_thuc | moment:dateTimeDisplayFormat:'fromNow'}} • {{suachua.thoi_gian_sua_chua | duration}}</small>
      </a>
    </div>
  </div>
</div>

<div class="row mt-2" *ngIf="suachuasDonePast.length">
  <div class="container">
    <div class="list-group mt-2">
      <a href="" class="list-group-item list-group-item-action" *ngFor="let suachua of suachuasDonePast" [routerLink]="['/nhap-lieu', suachua.$key]">
        <h5 class="list-group-item-heading" 
            [ngClass]="{
              'text-primary': suachua.trang_thai===trangThaiSuaChua.DangThucHien,
              'text-warning': suachua.trang_thai===trangThaiSuaChua.ChuanBiBanGiao,
              'text-success': suachua.trang_thai===trangThaiSuaChua.HoanThanh
              }">
            {{suachua.ma_thiet_bi}}: {{suachua.dv_quan_ly}}
        </h5>
        <p class="list-group-item-text">{{suachua.noi_dung}}</p>
        <p class="list-group-item-text text-muted">{{suachua.khu_vuc}}: {{suachua.vi_tri}}</p>
        <small class="form-text text-muted">{{suachua.thoi_gian_bat_dau}} • Đã xong vào {{suachua.thoi_gian_ket_thuc | moment:dateTimeDisplayFormat:'fromNow'}} • {{suachua.thoi_gian_sua_chua | duration}}</small>
      </a>
    </div>
  </div>
</div>

