<div class="row mt-2"></div>
<div class="mt-2 bd-callout bd-callout-success">
  <h4>Chuyển đổi trạng thái</h4>
  <form [formGroup]="hoanThanhForm" (ngSubmit)="onSubmit()">
    <p>
      Phương tiện <code>{{suaChua.ma_thiet_bi}} ({{suaChua.dv_quan_ly}})</code> đã sửa chữa xong lúc
      <input type="text" style="display: inline-block;width: 15rem;" class="form-control" formControlName="thoi_gian_ket_thuc"> ?
    </p>
    <p *ngIf="hoanThanhForm.controls.thoi_gian_ket_thuc.invalid">
      <code class="text-danger" *ngIf="hoanThanhForm.controls.thoi_gian_ket_thuc.errors.required">Chưa có thông tin về khoảng thời gian</code>
      <code class="text-danger" *ngIf="hoanThanhForm.controls.thoi_gian_ket_thuc.errors.pattern">Định dạng thời gian không hợp lệ</code>
    </p>
    <p *ngIf="invalidTime"><code class="text-danger">Thời gian kết thúc trước thời gian bắt đầu??</code> </p>

    <ul *ngIf="suaChua">
      <li>Nội dung <code>{{suaChua.noi_dung}}</code></li>
      <li>Bắt đầu lúc <code>{{suaChua.thoi_gian_bat_dau}}</code></li>
      <li>Tại vị trí <code>{{suaChua.khu_vuc}}, {{suaChua.vi_tri}}</code></li>
      <li>Thời gian sửa chữa <code>{{timeOverall}}</code></li>
    </ul>
    <button type="submit" class="btn btn-outline-success" [disabled]="hoanThanhForm.invalid || submitting || invalidTime">Chấp nhận</button>
    <button type="button" class="btn btn-outline-secondary" (click)="resetForm()">Reset</button>
  </form>
</div>