<div class="row mt-2"></div>
<div class="mt-2 bd-callout bd-callout-success">
  <h4>Chuyển đổi trạng thái</h4>
  <form [formGroup]="hoanThanhForm" (ngSubmit)="onSubmit()">
  <p>
    Phương tiện <code>NB121 (XNCG)</code> đã sửa chữa xong lúc
    <input type="text" style="display: inline-block;width: 15rem;" class="form-control" formControlName="thoi_gian_ket_thuc">
    ?
  </p>
  <ul *ngIf="suaChua">
    <li>Nội dung: <code>{{suaChua.noi_dung}}</code></li>
    <li>Bắt đầu lúc: <code>{{suaChua.thoi_gian_bat_dau}}</code></li>
    <li>Tại vị trí: <code>{{suaChua.khu_vuc}}, {{suaChua.vi_tri}}</code></li>
    <li>Thời gian sửa chữa: <code>{{timeOverall}}</code></li>
  </ul>
  <button type="submit" class="btn btn-outline-success">Chấp nhận</button>
  </form>
</div>