<div class="row mt-2"></div>
<div class="mt-2 bd-callout bd-callout-warning">
  <h4>Chuyển đổi trạng thái</h4>
  <form [formGroup]="chuanBiBanGiaoForm" (ngSubmit)="onSubmit()">
    <p>
      Dự kiến phương tiện <code>NB121 (XNCG)</code> sẽ được bàn giao trong
      <input type="number" style="display: inline-block;width: 5rem;" class="form-control" formControlName="duration"> phút tới?
    </p>
    <p *ngIf="chuanBiBanGiaoForm.controls.duration.invalid">
      <code class="text-danger" *ngIf="chuanBiBanGiaoForm.controls.duration.errors.min">Khoảng thời gian không hợp lệ!</code>
      <code class="text-danger" *ngIf="chuanBiBanGiaoForm.controls.duration.errors.required">Chưa có thông tin về khoảng thời gian</code>
    </p>
    <button type="submit" class="btn btn-outline-warning" [disabled]="chuanBiBanGiaoForm.invalid">Tiếp tục</button>
    <button type="button" class="btn btn-secondary" (click)="resetTrangThai()">Về trạng thái trước</button>
  </form>
</div>