/* You can add global styles to this file, and also import other style files */
#toast-container {
  opacity: 0.75;
  margin-top: 60px;
}

.bd-callout {
    padding: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    border: 1px solid #eee;
    border-left-width: .25rem;
    border-radius: .25rem;
    &-warning {
      border-left-color: #f0ad4e;
      h4, code {
        color: #f0ad4e;
      } 
    }
    &-info {
      border-left-color: #5bc0de;
      h4, code {
        color: #5bc0de;
      }  
    }
    &-success {
      border-left-color: #5cb85c;
      h4, code {
        color: #5cb85c;
      }  
    }
    &-danger {
      border-left-color: #d9534f;
      h4, code {
        color: #d9534f;
      }  
    }

    code {
        border-radius: .25rem;
    }
    h4 {
      margin-top: 0;
      margin-bottom: .25rem;
    }
}


