/* You can add global styles to this file, and also import other style files */
#toast-container {
  opacity: 0.75;
  margin-top: 60px;
}

.bd-callout {
    padding: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    border: 1px solid #eee;
    border-left-width: .25rem;
    border-radius: .25rem;
    &-callout-warning {
      border-left-color: #f0ad4e;
      h4 {
        color: #f0ad4e;
      }      
    }
    code {
        border-radius: .25rem;
    }
    h4 {
      margin-top: 0;
      margin-bottom: .25rem;
    }
}


