<div class="container active-panel">
  <form class="mt-2 mb-2" [formGroup]="userChangePasswordForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group" [ngClass]="{'has-danger': userChangePasswordForm.controls.newPassword.invalid && (userChangePasswordForm.controls.newPassword.dirty || userChangePasswordForm.controls.newPassword.touched)}">
          <label class="form-control-label" for="newPasswordInput">Nhập mật khẩu mới</label>
          <input type="text" class="form-control" id="newPasswordInput" placeholder="Mật khẩu mới của tôi" formControlName="newPassword">
          <div class="form-control-feedback" *ngIf="userChangePasswordForm.controls.newPassword.invalid && (userChangePasswordForm.controls.newPassword.dirty || userChangePasswordForm.controls.newPassword.touched)">
            <small class="form-text" *ngIf="userChangePasswordForm.controls.newPassword.errors.required">Bạn chưa nhập mật khẩu mới</small>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group" [ngClass]="{'has-danger': userChangePasswordForm.controls.repeatNewPassword.invalid && (userChangePasswordForm.controls.repeatNewPassword.dirty || userChangePasswordForm.controls.repeatNewPassword.touched)}">
          <label class="form-control-label" for="repeatNewPasswordInput">Nhập lại mật khẩu mới</label>
          <input type="text" class="form-control" id="repeatNewPasswordInput" placeholder="Nhập lại mật khẩu" formControlName="repeatNewPassword">
          <div class="form-control-feedback" *ngIf="userChangePasswordForm.controls.repeatNewPassword.invalid && (userChangePasswordForm.controls.repeatNewPassword.dirty || userChangePasswordForm.controls.repeatNewPassword.touched)">
            <small class="form-text" *ngIf="userChangePasswordForm.controls.repeatNewPassword.errors.required">Bạn chưa xác nhận mật khẩu mới</small>
          </div>
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-outline-secondary mt-2" [disabled]="userChangePasswordForm.invalid || submitting">Cập nhật</button>
  </form>
</div>